<!DOCTYPE html>    
<html> 
<div class="main">
<p class="sign" align="center">Sign in</p>
<div class="mainform">            
            <input class="uname" type="text" name="username"  placeholder="Enter Your Name" [(ngModel)]="this.username">
            <input class="pass" type="text" name="password"  placeholder="Enter Your Password" [(ngModel)]="this.password">          
            <button class="submit" align="center" (click) = "LoginUser()"> Submit </button>    
           <p class="forgot" align="center"><a href="#">forgot password?</a></p>
        </div>
        </div>

</html>     
